<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="A portfolio project that returns information of the visitor's HTML headers." />
        <meta name="author" content="Craig Pettifor" />
        <title>Don't Lose Your Head(ers)</title>
        <link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../static/css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container px-4">
                <!-- TODO: Add Linkedin and Github Logos -->
                <a class="navbar-brand" href="https://craig.pettifor.tech">About Me</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="#about"><b>About <em>You</em></b></a></li>
                        <li class="nav-item"><a class="nav-link" href="#fingerprinting"><b>Browser Fingerprinting</b></a></li>
                        <li class="nav-item"><a class="nav-link" href="#tech"><b>Technical Stuff</b></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark text-bg-dark">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">Your Request Headers Tell a Story</h1>
                <p class="lead">
                    A good amount of information is given away in a request header, which includes details like your browser, operating system,
                    language settings, IP address, and other metadata. This information is <em>normally</em> used to optimise functionality and 
                    user experience (for example serving region or language-specific content), but it can also reveal personal data about you.
                    Your headers can be used to link your browsing habits to you <b>even if you block trackers, reject cookies, and use a VPN!</b>

                    <br><br>
                    <a link href="https://coveryourtracks.eff.org/">Cover Your Tracks</a> does a much better job of explaining this, and has a 
                    free tool for testing how identifiable you are in your current browser.
                </p>
            </div>
        </header>
        <!-- About section-->
        <section class="bg-light" id="about">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="fw-bolder">About <em>you</em></h2>
                        <h3>What your Request Headers say about your device</h3>
                        <p>Your device type: {{device_type}}, {{device_os}} {{device_os_version}}</p>
                        <p>Browser: {{device_browser}} {{device_browser_version}}</p>

                        <h3>Where your IP says you are</h3>
                        <p>Looks like you're in {{country}} {{country_flag}}</p>
                        <p>In the region: {{region}}</p>
                        <p>And the city: {{city}}</p>
                        
                            <!--<p>The user headers were {{user_headers}}</p>-->

                        <h3>Privacy Tools Used</h3>
                        <h4><a href="https://en.wikipedia.org/wiki/Virtual_private_network">Virtual Private Network (VPN)</a></h4>
                        <p>{{vpn}}</p>

                        <h4><a href="https://en.wikipedia.org/wiki/Tor_(network)">The Onion Router (TOR)</a></h4>
                        <p> {{tor}}</p>
                        
                        <h4><a href="https://en.wikipedia.org/wiki/Relay_network">Relay Network</a></h4>                            
                        <p>{{relay}}</p>
                        
                        <h4><a href="https://en.wikipedia.org/wiki/Proxy_server">Proxy Server</a></h4>
                        <p>{{proxy}}</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-dark text-bg-dark" id="fingerprinting">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="fw-bolder">Browser Fingerprinting</h2>
                        <div>
                            <p class="lead">
                                Request headers are the quiet storytellers of the web, each time your browser reaches out to a site, 
                                it hands over a small biography of itself. It politely declares who it is, “Hi website, I’m {{device_browser}} 
                                {{device_browser_version}} on {{device_os}} {{device_os_version}}, I prefer to speak this language, and my view size is 
                                this big”. This seems harmless, and originated in making the web more user friendly, allowing for content 
                                to be served differently to different people. But these little details act more like a digital accent, that say something of where you come 
                                from. When combined with your IP address, timezone, display preferences, an "anonymous" visit looks less like a random user and more like 
                                <em>you</em>.
                            </p>

                            <p class="lead">
                                These headers that came from good intentions, are now becoming an ID card that advertisers, data brokers, and analytics tools are linking 
                                across sessions, devices, and even VPNS. The same data that helps a website serve you the right language version or regional content now 
                                feeds a silent ecosystem of profiling and tracking. Your request headers are the connective tissue between your supposedly separate browsing 
                                contexts, the technical breadcrumbs that make privacy on the web so frustratingly slippery.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Tech section-->
        <section class="bg-light text-bg-light" id="tech">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="fw-bolder">Technical Stuff</h2>
                        <h3>System Diagram</h3>
                        <p class="lead">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim 
                            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
                            deserunt mollit anim id est laborum.    
                        </p>

                    </div>
                </div>
            </div>
        

            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h3>Description</h3>
                        <p class="lead">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim 
                            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
                            deserunt mollit anim id est laborum.    
                        </p>
                        <p class="lead">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim 
                            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
                            deserunt mollit anim id est laborum.    
                        </p>
                        <h3>More about Online Privacy</h3>
                        <ul>
                            <li><a href="https://coveryourtracks.eff.org/">Useful Tool To See How Unique your Browser is (and tips to blend in)</a></li>
                            <li><a href="https://amiunique.org">Test to see how unique your browser session is</a></li>
                            <li><a href="https://www.eff.org/deeplinks/2020/03/google-says-it-doesnt-sell-your-data-heres-how-company-shares-monetizes-and">EFF Talks about Google's use of your data</a></li>
                            <li><a href="https://support.google.com/analytics/answer/9213390?hl=en">Google talks cross device tracking</a></li>
                            <li><a href="https://stape.io/blog/cross-device-tracking#what-is-cross-device-tracking">More about Cross Device Tracking</a></li>
                            <li><a href="https://improvado.io/blog/how-to-set-up-cross-device-tracking-and-reports-in-google-analytics">How to set up Cross Device Tracking & how great it is</a></li>
                            <li><a href="https://www.pcworld.com/article/1936106/gmail-trick-reveals-which-companies-sell-your-data.html">Figure out which online service is "sharing" your email address</a></li>
                            <li><a href="https://www.howtogeek.com/709263/how-to-see-what-data-google-has-on-you-and-delete-it/">What data Google keeps on you</a></li>
                            
                        </ul>
                        
                        
                        
                        
                        
                        
                        

                    </div>
                </div>
            </div>
        </section>

        <!-- Footer-->
        <footer class="text-bg-dark py-5 bg-dark">
            <div class="container px-4 text-g"><p class="m-0 text-center"><a href="https://github.com/CPettifo/headers">See the code</a> | <a href="https://craig.pettifor.tech">My Website</a> | <a href="https://linkedin.com/in/Craig-Pettifor">My LinkedIn</a> </p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="../static/js/scripts.js"></script>
    </body>
</html>