<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Don't Lose Your Head(ers)</title>
</head>
<body>
    <p>The agent was {{agent}}</p>
    <p>The country was {{country}} {{country_flag}}</p>
    <p>The region is {{region}}</p>
    <p>The city was {{city}}</p>
    <p>Using VPN? {{vpn}}</p>
    <p>Using proxy? {{proxy}}</p>
    <p>Using tor? {{tor}}</p>
    <p>Using relay? {{relay}}</p>
    <p>The user headers were {{user_headers}}</p>
</body>
</html>