<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="A portfolio project that returns information of the visitor's HTML headers." />
        <meta name="author" content="Craig Pettifor" />
        <title>Don't Lose Your Head(ers)</title>
        <link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../static/css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container px-4">
                <!-- TODO: Add Linkedin and Github Logos -->
                <a class="navbar-brand" href="https://craig.pettifor.tech">About Me</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="#about"><b></b>About You</b></a></li>
                        <li class="nav-item"><a class="nav-link" href="#about"><b></b>Browser Fingerprinting</b></a></li>
                        <li class="nav-item"><a class="nav-link" href="#development">Development Process</a></li>
                        <li class="nav-item"><a class="nav-link" href="#tech"><b>Technical Specs</b></a></li>
                        <li class="nav-item"><a class="nav-link" href="#tech">Further Reading</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark text-bg-dark">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">Your Request Headers Tell a Story</h1>
                <p class="lead">
                    A good amount of information is given away in a request header, which includes details like your browser, operating system,
                    language settings, IP address, and other metadata. This information is <em>normally</em> used to optimise functionality and 
                    user experience (for example serving region or language-specific content), but it can also reveal personal data about you.
                    Your headers can be used to link your browsing habits to you <b>even if you block trackers, reject cookies, and use a VPN!</b>

                    <br><br>
                    <a link href="https://coveryourtracks.eff.org/">Cover Your Tracks</a> does a much better job of explaining this, and has a 
                    free tool for testing how identifiable you are in your current browser.
                </p>
            </div>
        </header>
        <!-- About section-->
        <section class="bg-light" id="about">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>About <em>you</em></h2>
                        <p class="lead">This is the information that all webpages on the web know about you</p>
                        <ul class="initialism">
                            <p>The agent was {{agent}}</p>
                            <p>The country was {{country}} {{country_flag}}</p>
                            <p>The region is {{region}}</p>
                            <p>The city was {{city}}</p>
                            <p>Using VPN? {{vpn}}</p>
                            <p>Using proxy? {{proxy}}</p>
                            <p>Using tor? {{tor}}</p>
                            <p>Using relay? {{relay}}</p>
                            <p>The user headers were {{user_headers}}</p>

                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-dark text-bg-dark" id="development">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Browser Fingerprinting</h2>
                        <div>
                            <br>
                            <h3 class="fw-bolder">Your Request Headers Tell a Story</h3>
                            <p class="lead">
                                A good amount of information is given away in a request header, including details like your browser, operating system,
                                language settings, IP address, and other metadata. This information is <em>normally</em> used to optimise functionality and 
                                user experience (for example serving region or language-specific content), but it can also reveal personal data about you.
                                Your headers can be used to link your browsing habits to you <b>even if you block trackers, reject cookies, and use a VPN!</b>
                            </p>
                            <p class="lead">
                                There are identifying characteristics, i.e. when you visit a site if you are "unique" enough, that site will say, hey someone 
                                using Chrome visited my site, they spoke English and were in the Beijing timezone, but their location was set to Dublin
                                , they were on Mac and were using Chrome. This information is shared among some places and a site like say, Youtube, Google, 
                                Amazon might link this to your login, which tells them, oh Greg logged in using this browser at this time, and that browser matches
                                one that visited Toys-R-Us yesterday. 
                                Then that information can be sold to data brokers, so that an online browsing history is built about you, without your consent! 
               
                            </p>
                            <br>
                            <h3 class="fw-bolder">What Your Header Story is Used For</h3>
                            <p class="lead">
                                Your journey across the internet is used primarily to serve you more personalised advertisements. If linked to your personal identity, it
                                <em>enriches</em> the information that data brokers <!--citation needed--> collect on you. I'll use an example of Greg, who normally browses
                                using Chrome, where he stays logged in to his social media accounts. Greg is savvy enough to know that if he is shopping for his partner's 
                                surprise present (a bookcase) then he may be served personalise ads that could give away the surprise if his partner looks over his shoulder 
                                and sees advertisements for bookcases. So Greg decides to use Firefox, and proceeds to purchase the gift, but once he starts using Chrome again
                                he notices that he's starting to get advertisements for bookcases, how could he have been tracked across different browsers?
                                <ul>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                                
                                
                                It can also be used to track your 
                                activity, oh Greg is up early this morning, normally he goes onto Facebook at 0730 and then goes over to Instagram, then starts work at 0913. 
                                But today he is looking for fancy clothes, so maybe he has a date planned, let's tell him that there are many local singles in his area! Or,
                                looks like Greg browses using this computer on weekends and in the evenings, so that's likely his home computer, also, he seems to be researching
                                a lot about dance classes, so let's make sure that on his socials he sees more posts about dancing.
                                With the example of dancing is fairly innocent, if instead a user was starting to show more interest in nationalism, and wanted their country to
                                only allow for citizens to live there, and for citizens to only be descended from that country, this user may start to see more posts that would 
                                confirm these beliefs, which could eventually lead to a feedback loop of the user consuming content that would gradually bring the user deeper and
                                deeper into radicalisation. Social media platforms survive on engagement, and most engaging are feelings of outrage, unfairness, and fear. Is it possible
                                for Greg to be radicalised by an algorithm solely based on his browsing habits?             
                            </p>
                            <br>
                            <h3 class="fw-bolder">How to Reduce Your Fingerprint</h3>
                            <p class="lead">
                                Unfortunately dealing with fingerprinting is counter-intuitive, steps that you take to try to maintain your privacy like using a VPN, or a less popular browser like Brave,
                                LibreWolf, or even Firefox, make you stand out against the majority of users using Chrome. Heck, if I browse on Firefox on my Ubuntu computer my fingerprint is <em>unique</em>
                                out of over 300,000 other browsers.
                            </p>
                            <p class="lead">    
                                <a link href="https://coveryourtracks.eff.org/">Cover Your Tracks</a> does a much better job of explaining this, and has a 
                                free tool for testing how identifiable you are in your current browser.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Development section-->
        <section class="bg-light text-bg-light" id="development">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Development Process</h2>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Tech specs section-->
        <section class="bg-dark text-bg-dark"id="tech">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Technical Specs</h2>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-light text-bg-light" id="Further Reading & Sources">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2>Further Reading & Links</h2>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
                </div>
            </div>
        </div>
    </section>

        <!-- Footer-->
        <footer class="text-bg-dark py-5 bg-dark">
            <div class="container px-4"><p class="m-0 text-center">This is where I put a footer</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="../static/js/scripts.js"></script>
    </body>
</html>